{{#each files}}
    <span title="{{name}}" class="b-grid-item b-grid-item_{{this.id}} b-grid-item_new b-grid-item_iconed">
        <img class="b-mail-icon" alt="" src="static/b-mail-icon_{{icon}}-48.png" />
        <span class="b-grid-item__i">
            <span class="b-link b-link_item-name">
                <span class="b-link__i"></span>
                <span class="b-grid-item__part">{{name}}</span>
                <span class="b-grid-item__progress">
                    <span class="b-grid-item__progress__i"></span>
                </span>
            </span>
        </span>
    </span>
{{/each}}