<span  title="Добро пожаловать.pdf" class="b-grid-item b-grid-item_iconed" params="path=%2Fdisk%2F%D0%94%D0%BE%D0%B1%D1%80%D0%BE%20%D0%9F%D0%BE%D0%B6%D0%B0%D0%BB%D0%BE%D0%B2%D0%B0%D1%82%D1%8C.pdf%2F&amp;id_resource=%2Fdisk%2F%D0%94%D0%BE%D0%B1%D1%80%D0%BE%20%D0%9F%D0%BE%D0%B6%D0%B0%D0%BB%D0%BE%D0%B2%D0%B0%D1%82%D1%8C.pdf&amp;type=document" data-id-md5="086f068305392284a64466eda7afe764">
<span  class="b-grid-item_preview b-grid-item_preview__document js-type-document"><!--I am ie-compatible empty node--></span><img class="b-mail-icon b-mail-icon_file-pdf-48" alt="" src="static/b-mail-icon_pdf-48.png">
    <span  class="b-grid-item__i">
        <span  class="b-link b-link_item-name">
            <span  class="b-link__i"></span>
            <span  class="b-grid-item__part">Добро пожаловать.pdf</span>
        </span>
    </span>
    <span  class="b-form-element">
        <span  class="b-form-element__textarea__wrapper b-form-element__textarea__wrapper_rename">
            <textarea class="b-form-element__textarea b-form-element__textarea_rename" spellcheck="false">
                Добро пожаловать.pdf</textarea>
        </span>
    </span>
</span>